.div1{
  text-align: center;
}

.topic1{
  color:#273B92;
  font-family: "Montserrat", sans-serif;
  // letter-spacing: 0.3rem;
  font-weight: bold;
  font-size: 2.5rem;
}

.topic2{
  margin-top: 1rem;
  color:#0A7373;
  font-family: "Montserrat", sans-serif;
  // letter-spacing: 0.3rem;
  font-weight: bold;
  font-size: 2rem;
}

.line1{
  background-color: white;

}

.top-card-body{
  background-color: #FEF165;
}

.row1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 1rem;
  text-align: center;
}

.row2{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.row3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}


.row3_inner{
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 5rem;
  margin-top: 2rem;
}

.text-muted {
  width: 160px;
  text-align: start;
}

.listbox {
  z-index: 999;
}

.payroll {
  padding: 15px;
}

.bg-custom-1 {
  background-color: #F2F2F2;

}

.bg-custom-2 {
  background-color: rgba(245, 227, 255, 0.6);
}

.table {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
}

.donut {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
}

.dashboardCards {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
}

.dropdown{
  width: 100%;
  padding-top: 0;
}

.listbox{
  background-color: #0A7373;

}


.divDropdown{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;

}

.inner_div{
  margin-left: 3rem;
  margin-right: 3rem;
  border-radius: 3rem;
  padding: 2rem;

  //  display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-wrap: wrap;
  // list-style-type: none;
  // text-align: center;
  // padding: 0;
}

.newHeaderDiv{
  height: 20rem;
  background-color: #0A7373;
}