// LAYOUT VARS
$topbar-height: 50px;
$topbar-height-mobile: 40px;
$sidebar-left-width: 90px;
$sidebar-left-width-mobile: 60px;
$sidebar-left-secondary-width: 220px;
$sidebar-left-secondary-width-mobile: 190px;
$side-clearance: 15px;